body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: url("./table.png");
  background-size: cover;
  text-align: center;
  font-weight: bold;
  color: white;
}

h1 {
  color: goldenrod;
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
